<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>菜单管理-菜单列表-后台管理首页-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='活动管理 > 活动列表';
    </php>
    <include file="Common:intoHead" />
</head>
<body>
<div class="wrap">
    <include file="Common:head" />
    <div class="mainBody">
        <include file="Common:left" />
        <div id="Right">
            <div class="Item hr">
                <div class="current" style="max-width: 100px; float: left;">活动管理</div>
                <div style="width: 100px;float: right;"></div>
            </div>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">

                <thead>
                <!-- 0 -->
                <!-- <tr><td colspan="7" align="left">
                            <form action="__SELF__" method="get">
                                用户id/手机号：<input type="text" name="keyword" value="<php>echo $_GET['keyword'];</php>" size="30" style="margin-right: 20px;">
                                
                                <input type="submit" value="搜索">
                
                            </form>
                        </td></td></tr> -->
                <tr align="center">
                    <td width="5%">活动标题</td>
                    <td width="5%">活动介绍</td>
                    <td width="10%">活动封面</td>
                    <td width="5%">创建时间</td>
                    <td width="5%">发布状态</td>
                    <td width="10%">操作</td>
                    
                </tr>
                </thead>
                <tbody>
                <volist name="info" id="tree">
                    <tr cid="{$tree.activity_id}">
                        
                        <td align="center">{$tree.activity_title}</td>
                        <td align="center">{$tree.activity_introduce}</td>
                        <td align="center"><img src="{$tree.activity_poster}" alt="" width="300"/></td>
                        <td align="center">{$tree.createtime|date="Y-m-d H:i:s",###}</td>
                        <td align="center"><if condition="$tree.status eq 0">审核中<elseif condition="$info.status eq 1"/>已发布</if></td>
                        <td align="center" ><!-- <button class="btn" onclick="window.location.href='{:U('Personal/picarr')}?id={$tree.user_id}'">相册</button> -->
                             [ <a href="{:U('Activity/edit/',array('id'=>$tree['activity_id']))}"  >编辑 </a> ]
                            [ <a link="{:U('Activity/delete/',array('id'=>$tree['activity_id']))}" href="javascript:void(0)" name="{$tree.activity_title}" class="del">删除 </a> ]
                        </td>
                    </tr>
                </volist>
                <tr>
                    <td colspan="10" align="right" ><div class="msdn ">{$page}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<form action="" method="post" id="opForm">
    <input id="cid" type="hidden" name="data[id]" />
    <input id="act" type="hidden" name="act" />
    <input id="pid" type="hidden" name="data[parent_id]" />
    <input id="name" type="hidden" name="data[nav_name]" />
</form>
<div class="clear"></div>
<include file="Common:foot" />

<script type="text/javascript">
            $(function(){
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
            });
        </script>
<script type="text/javascript">
    $(function(){
        $(".opCat").click(function(){
            var obj=$(this).parents("tr");
            $("#cid").val(obj.find("input[name='id']").val());
            $("#act").val(obj.find("select[name='act']").val());
            $("#pid").val(obj.find("select[name='parent_id']").val());
            $("#name").val(obj.find("input[name='nav_name']").val());
            if($("#act").val()=="del"){
                popup.confirm('你真的打算删除该分类吗?','温馨提示',function(action){
                    if(action == 'ok'){
                        commonAjaxSubmit("","#opForm");
                    }
                });
                return false;
            }
            commonAjaxSubmit("","#opForm");
        });
        var chn=function(cid,op){
            if(op=="show"){
                $("tr[pid='"+cid+"']").each(function(){
                    $(this).removeAttr("status").show();
                    chn($(this).attr("cid"),"show");
                });
            }else{
                $("tr[pid='"+cid+"']").each(function(){
                    $(this).attr("status",1).hide();
                    chn($(this).attr("cid"),"hide");
                });
            }
        }
        // $(".tree").click(function(){
        //     if($(this).attr("status")!=1){
        //         chn($(this).parent().attr("cid"),"hide");
        //         $(this).attr("status",1);
        //     }else{
        //         chn($(this).parent().attr("cid"),"show");
        //         $(this).removeAttr("status");
        //     }
        // });
    });
</script>
</body>
</html>