<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>产品管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='参数设置 > 大赛列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">大赛列表</div>
                        <span style="float:right"><div class="current"><a href="__URL__/matchadd">添加大赛</a></div></span>

                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                            <tr>
                                <td>大赛id</td>
                                <td>大赛名</td>
                                <td>奖池算力</td>
                                <td>销售矿机台数</td>
                                <td>销售业绩累计</td>
                                <td>考核小区</td>
                                <td width="150">操作</td>
                            </tr>
                        </thead>
                        <volist name="match" id="vo">
                            <tr align="center" id="{$vo.mid}">
                                <td>{$vo.mid}</td>
                                <td align="left">{$vo.title}</a></td>
                                <td>{$vo.pool}</td>
                                <td>{$vo.num}</td>
                                <td>{$vo.price}</td>
                                <td>{$vo.residential}</td>
                                <!-- <td><a href="javascript:void(0);" onclick="changeStatus({$vo.id},this)">{$vo.status}</a></td> -->
                                <!-- <td><a href="javascript:void(0);"  title="推荐" onclick="changeAttr({$vo.id},this)"><img src="__PUBLIC__/Img/action_{$vo.is_recommend}.png" border="0"></a> -->
                                   <!--  &nbsp;&nbsp;
                                    <a href="javascript:void(0);" title="推荐到手机" onclick="changePhoneStatus({$vo.id},this)"><img src="__PUBLIC__/Img/iphone-{$vo.wap_display}.png" border="0">
                                </td> -->
                                <td>[ <a href="__URL__/matchedit?id={$vo.mid}">编辑 </a> ] [ <a link="{:U('Product/matchdel/',array('id'=>$vo['mid']))}" href="javascript:void(0)" name="{$vo.title}" class="del">删除 </a> ]</td>
                            </tr>
                        </volist>
                        <tr><td colspan="7" align="right">{$page}</td></td></tr>




                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    $this = $(this);
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            delByLink(delLink,$this);
                        }
                    });
                    return false;
                });
            });
            function changeAttr(id,v){
                $.get('{:U("Product/changeAttr")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
            function changeStatus(id,v){
                $.get('{:U("Product/changeStatus")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
            function changePhoneStatus(id,v){
                $.get('{:U("Product/changePhoneStatus")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
        </script>
    </body>
</html>
