<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>产品管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='商品管理 > 产品列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">入驻投资列表</div>
                        <span style="float:right"><div class="current"><a href="__URL__/createenter">添加入驻投资</a></div></span>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                            <tr>
                                <td>入驻用户</td>
                                <td>货币名称</td>
                                <td>图片</td>
                                <td>总数量</td>
                                <td>可分配总数量</td>
                                <td>释放的比率</td>
                                <td>和人民币的汇率</td>
                                <td>投资时间</td>
                                <td width="150">操作</td>
                            </tr>
                        </thead>
                        <volist name="list" id="vo">
                            <tr align="center" id="{$vo.id}">
                                <td>{$vo.true_name}</td>
                                <td>{$vo.title}</td>
                                <td><img src="{$vo.header}" width="120px" height="100px"></td>
                                <td>{$vo.e_num}</td>
                                <td>{$vo.num}</td>
                                <td>{$vo.rate}</td>
                                <td>{$vo.cny}</td>
                                <td>{$vo.createtime|date="Y-m-d H:i:s",###}</td>
                                <td width="20%">[ <a href="__URL__/assign_allot?id={$vo.id}">指定分配 </a> ] [ <a href="__URL__/batch_allot?id={$vo.id}">批量分配 </a> ] [ <a href="__URL__/editenter?id={$vo.bid}">编辑 </a> ]</td>
                            </tr>
                        </volist>
                        <tr><td colspan="7" align="right">{$page}</td></td></tr>



                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    $this = $(this);
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            delByLink(delLink,$this);
                        }
                    });
                    return false;
                });
            });
            function changeAttr(id,v){
                $.get('{:U("Product/changeAttr")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
            function changeStatus(id,v){
                $.get('{:U("Product/changeStatus")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
            function changePhoneStatus(id,v){
                $.get('{:U("Product/changePhoneStatus")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
        </script>
    </body>
</html>
