<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>菜单管理-菜单列表-后台管理首页-{$site.SITE_INFO.name}</title>
    <php>
        $addCss="";
        $addJs="";
        $currentNav ='菜单管理 > 菜单列表';
    </php>
    <include file="Common:intoHead" />
</head>
<body>
<div class="wrap">
    <include file="Common:head" />
    <div class="mainBody">
        <include file="Common:left" />
        <div id="Right">
            <div class="Item hr">
                <div class="current" style="max-width: 100px; float: left;">帮助与反馈</div>
                <div style="width: 100px;float: right;"></div>
            </div>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tab">

                <thead>
                <!-- 0 -->
                <tr align="center">
                    <!-- 1 -->
                    <!-- <td width="7%">账号</td> -->
                    <!-- 2 -->
                    <td width="5%">昵称</td>
                    <!-- 3 -->
                    <!-- <td width="3%">年龄</td> -->
                    <!-- 4 -->
                    <!-- <td width="3%">性别</td> -->
                    <!-- 5 -->
                    <!-- <td width="5%">头像</td> -->
                    <!-- 6 -->
                    <!-- <td width="10%">学校</td> -->
                    <!-- 7 -->
                    <!-- <td width="10%">目标学校</td> -->
                    <!-- 8 -->
                    <td width="10%">ID号</td>
                    <!-- 9 -->
                    <td width="5%">手机号</td>
                    <!-- 10 -->
                    <!-- <td width="5%">艺考方向</td> -->
                    <!-- 11 -->
                    <!-- <td width="3%">文化成绩</td> -->
                    <!-- 12 -->
                    <!-- <td width="7%">培训经历</td> -->
                    <!-- 13 -->
                    <!-- <td width="8%">简介</td> -->
                    <!-- 14 -->
                    <!-- <td width="5%">问题</td> -->
                    <td width="5%">建议</td>
                    <td width="10%">提交时间</td>
                    <!-- 15 -->
                    <td width="5%">操作</td>
                    
                </tr>
                </thead>
                <tbody>
                <volist name="info" id="tree">
                    <tr pid="{$tree.parent_id}" cid="{$tree.help_id}">
                        <!-- 0 -->
                        <input type="hidden" name="id" value="{$tree.help_id}"/>
                        <!-- 1 -->
                        <!-- <td  align="center">{$tree.user_name}</td> -->
                        <!-- 2 -->
                        <td  class="tree" align="center">{$tree.user_nickname}</td>
                        <!-- 3 -->
                        <!-- <td align="center">{$tree.user_age}</td> -->
                        <!-- 4 -->
                        <!-- <td align="center"><?php if($tree['user_sex'] == 0){ ?>
                            <?php echo "女";?>
                        <?php }else{ ?>
                            <?php echo "男";?>
                        <?php }?></td> -->
                        <!-- 5 -->
                        <!-- <td ><img src="" alt="" width="50" height="50" />{$tree.user_img}</td> -->
                        <!-- 6 -->
                        <!-- <td align="center">{$tree.user_attendschool}</td> -->
                        <!-- 7 -->
                        <!-- <td align="center">{$tree.user_school}</td> -->
                        <!-- 8 -->
                        <td align="center">{$tree.user_id}</td>
                        <td align="center">{$tree.user_tel}</td>
                        <!-- 9 -->
                        <!-- <td align="center">{$tree.user_academic}</td> -->
                        <!-- 10 -->
                        <!-- <td align="center">{$tree.user_artdirection}</td> -->
                        <!-- 11 -->
                        <!-- <td align="center">{$tree.user_achievement}</td> -->
                        <!-- 12 -->
                        <!-- <td align="center"><?php if($tree['user_experience'] == 0){ ?>
                            <?php echo "未参加";?>
                        <?php }else{ ?>
                            <?php echo "已参加";?>
                        <?php }?></td> -->
                        <!-- 13 -->
                        <!-- <td align="center">{$tree.question}</td> -->
                        <!-- 14 -->
                        <td align="center">{$tree.advice}</td>
                        <td align="center">{$tree.createtime|date="Y-m-d H:i:s",###}</td>

                        <!-- 15 -->
                        <td align="center" ><!-- <button class="btn" onclick="window.location.href='{:U('Personal/picarr')}?id={$tree.user_id}'">相册</button> -->
                            <a link="{:U('helpDel',array('id'=>$tree['help_id']))}" href="javascript:void(0)" name="此反馈" class="del">删除 </a>
                            <!-- <button class="btn" onclick="window.location.href='{:U('Personal/select')}?id={$tree.user_id}'">详细信息</button> -->
                        </td>
                    </tr>
                </volist>
                <tr>
                    <td colspan="10" align="right" >{$page}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<form action="" method="post" id="opForm">
    <input id="cid" type="hidden" name="data[id]" />
    <input id="act" type="hidden" name="act" />
    <input id="pid" type="hidden" name="data[parent_id]" />
    <input id="name" type="hidden" name="data[nav_name]" />
</form>
<div class="clear"></div>
<include file="Common:foot" />
<script type="text/javascript">
    $(function(){
        $(".opCat").click(function(){
            var obj=$(this).parents("tr");
            $("#cid").val(obj.find("input[name='id']").val());
            $("#act").val(obj.find("select[name='act']").val());
            $("#pid").val(obj.find("select[name='parent_id']").val());
            $("#name").val(obj.find("input[name='nav_name']").val());
            if($("#act").val()=="del"){
                popup.confirm('你真的打算删除该分类吗?','温馨提示',function(action){
                    if(action == 'ok'){
                        commonAjaxSubmit("","#opForm");
                    }
                });
                return false;
            }
            commonAjaxSubmit("","#opForm");
        });
        var chn=function(cid,op){
            if(op=="show"){
                $("tr[pid='"+cid+"']").each(function(){
                    $(this).removeAttr("status").show();
                    chn($(this).attr("cid"),"show");
                });
            }else{
                $("tr[pid='"+cid+"']").each(function(){
                    $(this).attr("status",1).hide();
                    chn($(this).attr("cid"),"hide");
                });
            }
        }
        // $(".tree").click(function(){
        //     if($(this).attr("status")!=1){
        //         chn($(this).parent().attr("cid"),"hide");
        //         $(this).attr("status",1);
        //     }else{
        //         chn($(this).parent().attr("cid"),"show");
        //         $(this).removeAttr("status");
        //     }
        // });
    });
</script>
<script type="text/javascript">
    $(function(){
        $(".del").click(function(){
            var delLink=$(this).attr("link");
            $this = $(this);
            popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                if(action == 'ok'){
                    delByLink(delLink,$this);
                }
            });
            return false;
        });
    });
</script>
</body>
</html>