<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>课程管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='直播管理 > 直播列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">直播列表</div>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                            <tr>
                                <td>礼物</td>
                                <td>数量</td>
                                <td>价格</td>
                                <td>比率</td>
                                <td>主播名称</td>
                                <td>共计</td>
                                <td>平台抽成</td>
                                <td>是否领取</td>
                                <td>时间</td>
                            </tr>
                        </thead>
                        <volist name="list" id="vo">
                            <tr align="center" id="{$vo.subject_id}">
                                <td align="center">{$vo.gift_name}</td>
                                <td>{$vo.num}</td>
                                <td>{$vo.price}</td>
                                <td>{$vo.rate}</td>
                                <td>{$vo.username}</td>
                                <td>{$vo.deserved}</td>
                                <td>{$vo.actual}</td>
                                <td>{$vo.receive}</td>
                                <td>{$vo.createtime|date="Y-m-d H:i:s",###}</td>
                                <!-- <td><a href="javascript:void(0);" onclick="changeStatus({$vo.id},this)">{$vo.display}</a></td>
                                <td><a href="javascript:void(0);" onclick="changeAttr({$vo.id},this)"><img src="__PUBLIC__/Img/action_{$vo.is_recommend}.png" border="0"></a>
                                    </if></td> -->
                                
                            </tr>
                        </volist>
                        <tr><td colspan="6" align="right">{$page}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">
            $(function(){
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    $this = $(this);
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            delByLink(delLink,$this);
                            //top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
            });
            function changeAttr(id,v){
                $.get('{:U("News/changeAttr")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
            function changeStatus(id,v){
                $.get('{:U("News/changeStatus")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
        </script>
    </body>
</html>
