<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>订单管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='订单管理 > 订单列表';
        </php>
        <include file="Common:intoHead" />
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">订单列表</div>
                    </div>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab">
                        <thead>
                        <tr><td colspan="8" align="left">
                            <form action="__SELF__" method="get">
                                订单号：<input type="text" class="input" name="order_no" value="<php>echo $_GET['order_no'];</php>" size="30" style="margin-right: 20px;">
                                <input type="hidden" name="user_id" value="<php>echo $_GET['user_id'];</php>"/>
                                <input type="submit" class="btn" value="搜索">
                                日期：
                                <select name="time">
                                    <option value="-1">全部</option>
                                    <option value="1" <php>if($_GET['time']==1)echo selected;</php>>当天</option>
                                    <option value="2" <php>if($_GET['time']==2)echo selected;</php>>当周</option>
                                    <option value="3" <php>if($_GET['time']==1)echo selected;</php>>当月</option>
                                </select>
                            </form>
                        </td></td></tr>
                            <tr>
                                <td>订单号</td>
                                <!-- <td>商品名称</td> -->
                                <td>下单时间</td>
                                <td>收货人</td>
                                <!-- <td>总金额</td> -->
                                <td>应付金额</td>
                                <td>订单状态</td>
                                <!-- <td>状态</td> -->
                                <td width="150">操作</td>
                            </tr>
                        </thead>
                        <volist name="list" id="vo">
                            <tr align="center" id="{$vo.id}">
                                <td align="center">{$vo.payno}</td>
                                <!-- <td>{$vo.title}</td> -->
                                <td>{$vo.createtime|date="Y-m-d H:i:s",###}</td>
                                
                              
                                <!-- <td>{$vo.starttime|date="Y-m-d H:i:s",###}</td> -->
                                <td>{$vo.user_nickname}</td>
                                <!-- <td>{$vo.price}</td> -->
                                <td>{$vo.price}</td>
                                <!-- <td><a href="javascript:void(0);" onclick="changeStatus({$vo.id},this)">{$vo.display}</a></td>
                                <td><a href="javascript:void(0);" onclick="changeAttr({$vo.id},this)"><img src="__PUBLIC__/Img/action_{$vo.is_recommend}.png" border="0"></a>
                                    </if></td> -->
                                <td><if condition = "$vo.zt == 0">待支付<elseif condition="$vo.zt == 1"/>已支付<elseif condition="$vo.zt == 2"/>已发货<else/>已完成</if></td>
                                <td>[ <a href="__URL__/see?id={$vo.id}">查看 </a> ] [ <a link="{:U('Subject/delete/',array('id'=>$vo['id']))}" href="javascript:void(0)" name="{$vo.title}" class="del">删除 </a> ]</td>
                            </tr>
                        </volist>
                        <tr><td colspan="8" align="left">
                            <form action="{:U('Order/export')}" method="post">
                                日期：
                                <select name="time" class="time">
                                    <option value="-1">全部</option>
                                    <option value="1" <php>if($_GET['time']==1)echo selected;</php>>当天</option>
                                    <option value="2" <php>if($_GET['time']==2)echo selected;</php>>当周</option>
                                    <option value="3" <php>if($_GET['time']==1)echo selected;</php>>当月</option>
                                </select>
                                <input type="date" name="starttime" class="starttime" />
                                <input type="date" name="endtime" class="endtime" />
                                <input type="hidden" name="user_id" value="<php>echo $_GET['user_id'];</php>"/>
                                <input type="submit" value="导出EXCEL">
                            </form>
                        </td></td></tr>
                        <tr><td colspan="8" align="right">{$page}</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <script type="text/javascript">

            $(function(){
                 var starttime,endtime;
                 starttime = endtime =0
                 //转化为时间戳
            $(".starttime").change(function(){
                 starttime=Date.parse(new Date($(".starttime").val()))/1000;
                 // var endtime=Date.parse(new Date($(".endtime").val()))/1000;
                 $(".starttime").val(starttime)
                  console.log(starttime);
            })
            $(".endtime").change(function(){
                 //var starttime=Date.parse(new Date($(".starttime").val()))/1000;
                  endtime=Date.parse(new Date($(".endtime").val()))/1000;
                  $(".endtime").val(endtime)
                  console.log(endtime);
            })
                $(".del").click(function(){
                    var delLink=$(this).attr("link");
                    $this = $(this);
                    popup.confirm('你真的打算删除【<b>'+$(this).attr("name")+'</b>】吗?','温馨提示',function(action){
                        if(action == 'ok'){
                            delByLink(delLink,$this);
                            //top.window.location.href=delLink;
                        }
                    });
                    return false;
                });
                $("#export").click(function(){
                    var time = $(".time").val();
                    var user_id = $("input[name='user_id']").val();
                    $.ajax({
                            url: '{:U("Order/export")}',
                            type: 'POST',
                            async: "true",
                            data: {
                                time: time,
                                starttime:starttime,
                                endtime:endtime,
                                user_id:user_id
                            },
                            dataType: 'json',
                            success: function(data) {
                                alert(data.msg)
                            }
                    });
                });
            });
            function changeAttr(id,v){
                $.get('{:U("News/changeAttr")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            }
            function changeStatus(id,v){
                $.get('{:U("News/changeStatus")}?id='+id,function(data){
                    if(data.status==1){
                        $(v).html(data.info);
                    }
                });
            } 
            console.log($(".startime"));

           
        </script>
    </body>
</html>
